/*--------------------------------------------------------------
## Site branding
--------------------------------------------------------------*/
.site-branding {
  float: left;
  padding-top: 12px;
}
.site-branding .site-logo img {
  max-height: 70px;
  width: auto;
  margin-right: 15px;
}
.site-branding .site-branding-text .site-title {
  margin: 0;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
.site-branding .site-branding-text .site-title a {
  color: #3c56d9;
}
.site-branding .site-branding-text .site-description {
  margin: 5px 0 0;
  line-height: 1;
  color: #2e2e2e;
}

.dark-version .site-branding .site-branding-text .site-title a {
  color: #fff;
}
.dark-version .site-branding .site-branding-text .site-description {
  color: #fff;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead {
  position: relative;
  z-index: 3000;
  padding: 15px 0;
}

.absolute-header #masthead .site-branding .site-branding-text .site-title a,
.absolute-header #masthead .site-branding .site-branding-text .site-description {
  color: #fff;
}

.absolute-header #masthead .icon,
.absolute-header #masthead .icon::before,
.absolute-header #masthead .icon::after,
.dark-version.relative-header #masthead .icon,
.dark-version.relative-header #masthead .icon::before,
.dark-version.relative-header #masthead .icon::after,
.lite-version.absolute-header #masthead {
  background-color: #fff;
}

.lite-version.absolute-header #masthead .icon,
.lite-version.absolute-header #masthead .icon::before,
.lite-version.absolute-header #masthead .icon::after,
.dark-version.absolute-header #masthead,
.dark-version.relative-header.modern-menu #masthead {
  background-color: #000;
}

.lite-version.absolute-header #masthead .site-branding .site-branding-text .site-title a,
.lite-version.absolute-header #masthead .site-branding .site-branding-text .site-description {
  color: #2e2e2e;
}

.menu-toggle.active .icon,
.absolute-header #masthead .menu-toggle.active .icon,
.dark-version.relative-header #masthead .menu-toggle.active .icon {
  background-color: transparent;
}

.menu-toggle.active .icon::before {
  transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
}

.menu-toggle.active .icon::after {
  transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
}

.main-navigation ul a svg {
  display: none;
}

.main-navigation svg {
  width: 14px;
  height: 14px;
}

button.dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 59px;
  height: 59px;
  line-height: 65px;
}

button.dropdown-toggle svg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button.dropdown-toggle.active svg {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}

.dark-version .menu-overlay {
  background-color: #fff;
}

.menu-overlay.active {
  opacity: 0.5;
  visibility: visible;
}

#site-header-menu {
  float: right;
}
#site-header-menu .main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
#site-header-menu .main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  top: 100%;
  z-index: 30000;
  background-color: #fff;
  left: 0;
  right: 0;
  left: auto;
  width: 100%;
  max-width: 100%;
  border-top: 1px solid #ddd;
}
#site-header-menu .main-navigation ul li {
  border-bottom: 1px solid #ddd;
  position: relative;
}
#site-header-menu .main-navigation ul ul {
  position: relative;
  top: 0;
  left: 0;
}
#site-header-menu .main-navigation ul ul a {
  padding-left: 50px;
}
#site-header-menu .main-navigation ul ul li ul li a {
  padding-left: 75px;
}
#site-header-menu .main-navigation ul ul li ul li ul li a {
  padding-left: 100px;
}
#site-header-menu .main-navigation ul ul:last-child li:last-child {
  border-bottom: none;
}
#site-header-menu .main-navigation ul li:hover > ul,
#site-header-menu .main-navigation ul li.focus > ul {
  left: auto;
}
#site-header-menu .main-navigation a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #3c56d9;
  opacity: 0.5;
  padding: 15px 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
#site-header-menu .main-navigation li.current-menu-item a {
  color: #3c56d9;
  opacity: 1;
}

#site-header-menu .main-navigation a:hover, #site-header-menu .main-navigation a:focus {
  color: #cf3140;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  position: relative;
  width: 60px;
  height: 65px;
  border: none;
  margin-right: -20px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  text-indent: 11111px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  border-color: transparent;
  background-color: transparent;
}

.icon {
  background-color: #000;
  width: 22px;
  height: 2px;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.icon::after,
.icon::before {
  content: '';
  top: 0;
  right: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.icon,
.icon::after,
.icon::before {
  width: 22px;
  height: 2px;
  position: absolute;
}

.icon::before {
  transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
  background-color: #000;
}

.icon::after {
  transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
  background-color: #000;
}

/*--------------------------------------------------------------
## Responsive
--------------------------------------------------------------*/
@media screen and (min-width: 35em) {
  .wrapper {
    width: 98%;
    padding-left: 15px;
    padding-right: 15px; }

  .site-branding {
    padding-top: 5px;
    display: flex;
    align-items: center;
    height: 60px; }
}
@media screen and (min-width: 37.5em) {
  .main-navigation ul {
    display: block;
  }
}


@media screen and (min-width: 50em) {
  .wrapper {
    width: 90%; }

  #site-header-menu .main-navigation ul#primary-menu {
    max-width: 400px; }
}


@media screen and (min-width: 60em) {
  .wrapper {
    width: 90%; }

  #masthead {
    padding: 0; }

  .main-navigation ul a svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    fill: #fff;
    padding-bottom: 2px; }

  .main-navigation ul ul a svg,
  .lite-version.relative-header.classic-menu .main-navigation ul a svg {
    fill: #000; }

  .classic-menu #site-header-menu .main-navigation ul#primary-menu > li > ul {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2); }

  .classic-menu #site-header-menu .main-navigation ul#primary-menu > li > ul:after {
    content: "";
    position: absolute;
    top: -18px;
    right: 15px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    border-bottom: 9px solid #fff; }

  .modern-menu .main-navigation ul ul a svg {
    display: none; }

  .classic-menu #site-header-menu .main-navigation ul ul a {
    font-size: 14px;
    font-weight: 600;
    text-transform: none; }

  .classic-menu #site-header-menu .main-navigation ul {
    width: auto;
    max-width: none; }
    .classic-menu #site-header-menu .main-navigation ul li:hover > ul {
      left: auto;
      right: 0;
      float: left;
      position: absolute;
      top: 100%;
      display: inline-block; }
    .classic-menu #site-header-menu .main-navigation ul li > ul > li:hover > ul {
      right: 100%;
      top: -1px;
      border: 1px solid rgba(0, 0, 0, 0.2); }
    .classic-menu #site-header-menu .main-navigation ul li ul {
      width: auto; }
      .classic-menu #site-header-menu .main-navigation ul li ul a {
        color: #000;
        width: 250px; }

  .classic-menu #masthead #site-header-menu .main-navigation ul ul a {
    color: #333 !important;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .classic-menu #masthead #site-header-menu .main-navigation ul ul a:hover, .classic-menu #masthead #site-header-menu .main-navigation ul ul a:focus {
      background-color: #eee; }

  .absolute-header #masthead {
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: none; }

  .classic-menu #site-header-menu .menu-toggle {
    display: none; }
  .classic-menu #site-header-menu .main-navigation ul#primary-menu {
    display: block !important;
    max-width: 100%;
    position: relative;
    border: none; }
    .classic-menu #site-header-menu .main-navigation ul#primary-menu li {
      float: left;
      border-bottom: none; }

  .classic-menu button.dropdown-toggle {
    display: none; }

  .relative-header.modern-menu .menu-toggle {
    height: 100px; }

  .absolute-header.classic-menu #masthead #site-header-menu .main-navigation a {
    color: #fff; }

  .dark-version.relative-header.classic-menu #masthead #site-header-menu .main-navigation a {
    color: #fff; }
    .dark-version.relative-header.classic-menu #masthead #site-header-menu .main-navigation a:hover, .dark-version.relative-header.classic-menu #masthead #site-header-menu .main-navigation a:focus {
      color: #cf3140; }

  .lite-version.absolute-header #masthead .icon,
  .lite-version.absolute-header #masthead .icon::before,
  .lite-version.absolute-header #masthead .icon::after {
    background-color: #fff; }

  .lite-version.absolute-header #masthead .site-branding .site-branding-text .site-title a,
  .lite-version.absolute-header #masthead .site-branding .site-branding-text .site-description {
    color: #fff; }

  .lite-version.absolute-header #masthead,
  .dark-version.absolute-header #masthead {
    background-color: transparent; }

  .site-branding {
    padding-top: 0;
    height: 100px; }

  .classic-menu #site-header-menu .main-navigation a {
    padding: 38px 25px; }

  .classic-menu .main-navigation ul ul svg {
    transform: rotate(90deg);
    position: absolute;
    right: 20px;
    top: 22px; }

  .menu-sticky #masthead {
    transition: all 0.3s ease-in-out; }

  .menu-sticky.nav-shrink #masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; }

  .dark-version.menu-sticky.nav-shrink #masthead {
    background-color: #000; }

  .lite-version.menu-sticky.nav-shrink #masthead {
    background-color: #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2); }
}

@media screen and (min-width: 75em) {
  #site-header-menu .main-navigation a {
    padding-left: 25px;
    padding-right: 25px; }
}


@media screen and (min-width: 100em) {
  .relative-header.modern-menu .menu-toggle {
    height: 150px; }

  .relative-header.classic-menu #site-header-menu .main-navigation a {
    padding: 61px 25px; }

  .relative-header .site-branding {
    height: 150px; }

  #masthead .wrapper {
    max-width: 1560px; }
  #masthead .site-branding .site-branding-text .site-title {
    font-size: 50px; }
}